{:explicit [{:source "queries/ask.sparql"}
            {:type :other
             :source "queries/select.sparql"}
            {:source #resource "ask_resource.sparql"
             :name "embedded"}]}