
{:deps {org.clojure/clojure {:mvn/version "1.11.1"}

        ;; TODO strictly speaking we should move this dep into app
        ;; alias and refactor so rdf-validator.core is separated from
        ;; API/library.
        org.clojure/tools.cli {:mvn/version "1.0.206"}

        org.clojure/tools.logging {:mvn/version "1.2.4"}
        grafter/grafter {:mvn/version "2.1.18"}
        org.apache.jena/apache-jena-libs {:mvn/version "4.4.0" :extension "pom"}
        selmer/selmer {:mvn/version "1.12.49"}
        com.stuartsierra/dependency {:mvn/version "1.0.0"}}
 :paths ["src" "resources"]

 :aliases {:dev {:extra-deps {lambdaisland/kaocha {:mvn/version "1.65.1029"}
                              swirrl/validations.misc {:git/url "https://github.com/Swirrl/pmd-rdf-validations.git"
                                                       :sha "b57cadccbb801fca981c83c2eaccfa4a0cd9f3bc"
                                                       :deps/manifest :deps
                                                       :deps/root "misc"}}

                 :extra-paths ["test/resources"]}

           :app {:extra-paths ["app-resources"]
                 :extra-deps {org.slf4j/slf4j-api {:mvn/version "1.7.32"}
                              org.apache.logging.log4j/log4j-api {:mvn/version "2.17.2"}
                              org.apache.logging.log4j/log4j-core {:mvn/version "2.17.2"}
                              org.apache.logging.log4j/log4j-slf4j-impl {:mvn/version "2.17.2"}}}}}
