#kaocha/v1
 {:tests [{:id :unit
           :test-paths ["test"]
           :source-paths ["src"]}]
  :plugins [:kaocha.plugin/profiling :kaocha.plugin/junit-xml]
  :kaocha.plugin.junit-xml/target-file "test-results/kaocha/results.xml"
  :reporter kaocha.report/documentation
 ;; :plugins [kaocha.plugin/profiling]
  }
